version: "3.9"

services:

  gateway:
    image: traefik:v2.11
    command:
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--api.insecure=true"       # active le dashboard sans auth
      - "--api.dashboard=true"
    ports:
      - "80:80"
      - "8080:8080" # Dashboard Traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  mobility:
    build: ./mobility-rest
    labels:
      - "traefik.http.routers.mobility.rule=PathPrefix(`/mobility`)"
      - "traefik.http.services.mobility.loadbalancer.server.port=3000"

  air:
    build: ./air-soap
    labels:
      - "traefik.http.routers.air.rule=PathPrefix(`/air`)"
      - "traefik.http.services.air.loadbalancer.server.port=4000"

  urgences:
    build: ./urgences-grpc
    labels:
      - "traefik.http.routers.urgences.rule=PathPrefix(`/urgences`)"
      - "traefik.http.services.urgences.loadbalancer.server.port=5001"

  citygraph:
    build: ./city-graphql
    labels:
      - "traefik.http.routers.citygraph.rule=PathPrefix(`/graphql`)"
      - "traefik.http.routers.citygraph.entrypoints=web"
      - "traefik.http.services.citygraph.loadbalancer.server.port=5000"
